<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger d-flex justify-content-between ">
                        <div>
                            <h4 class="card-title mt-0"> Table on Plain Background</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Add Product</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr> 
                                        <td> 1</td>
                                        <td> DePure </td>
                                        <td> 500ml</td>
                                        <td> 100</td>
                                        <td>4000</td>
                                        <td>
                                            <i class="material-icons">edit</i>
                                            <i class="material-icons ">delete</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 2</td>
                                        <td> DePure </td>
                                        <td> 500ml</td>
                                        <td> 100</td>
                                        <td>4000</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <i class="material-icons">edit</i>
                                                    <i class="material-icons ">delete</i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3</td>
                                        <td> DePure </td>
                                        <td> 500ml</td>
                                        <td> 100</td>
                                        <td>4000</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <i class="material-icons">edit</i>
                                                    <i class="material-icons ">delete</i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td> DePure </td>
                                        <td> 500ml</td>
                                        <td> 100</td>
                                        <td>4000</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <i class="material-icons">edit</i>
                                                    <i class="material-icons ">delete</i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  